@page "/CreateBuild"
@using LuckyBlazor.Model
@using System.ComponentModel
@using System.Threading
@using LuckyBlazor.Authentication
@using Component = LuckyBlazor.Model.Component
@inject IComponentService ComponentService
@inject IBuildService BuildService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container-fluid">
    <div class="row">
                <div class="col-2" style="display: flex; justify-content: center">
                    <button class="components" @onclick="Beginner"><b>Beginner</b></button>
                </div>
                <div class="col-2">
                    <button class="components" @onclick="Advanced" style="display: flex; justify-content: center"><b>Advanced</b></button>
                </div>
</div>

<div class="row" id="advanced" style="display: none">
    <div class="col-lg-12" id="tablesField">
        <div class="selection">
            <select id="select-programme" onchange="location = this.value;">
                <option value="@_defaultLink" selected>Types of components</option>
                <option value=@_linkToTable1>Motherboards</option>
                <option value="@_linkToTable2">CPUs</option>
                <option value="@_linkToTable3">GPUs</option>
                <option value="@_linkToTable4">RAMs</option>
                <option value="@_linkToTable5">Power supply</option>
                <option value="@_linkToTable6">Storage</option>
            </select> <span></span>
        </div>

        <table class="styledTable" id="x1">
            <thead>
            <tr class="head">
                <th>Name</th>
                <th>Release year</th>
                <th>Brand</th>
                <th>Additional information</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var variable in _motherBoardsToShow)
            {
                <tr id="@variable.Id">
                    <td>@variable.Name</td>
                    <td>@variable.ReleaseYear</td>
                    <td>@variable.Brand</td>
                    <td>@variable.AdditionalInformation</td>
                    <td>
                        <button id="rateBut" @onclick="@(() => AddMotherboard(variable.Id))">
                            <i class="oi oi-plus" style="color: white"></i>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <table class="styledTable" id="x2">
            <thead>
            <tr class="head">
                <th>Name</th>
                <th>Release year</th>
                <th>Brand</th>
                <th>Additional information</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var variable in _CPUsToShow)
            {
                <tr id="@variable.Id">
                    <td>@variable.Name</td>
                    <td>@variable.ReleaseYear</td>
                    <td>@variable.Brand</td>
                    <td>@variable.AdditionalInformation</td>
                    <td>
                        <button  id="rateBut" @onclick="@(() => AddCPU(variable.Id))">
                            <i class="oi oi-plus" style="color: white"></i>
                        </button>
                    </td>

                </tr>
            }
            </tbody>
        </table>

        <table class="styledTable" id="x3">
            <thead>
            <tr class="head">
                <th>Name</th>
                <th>Release year</th>
                <th>Brand</th>
                <th>Additional information</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var variable in _GPUsToShow)
            {
                <tr id="@variable.Id">
                    <td>@variable.Name</td>
                    <td>@variable.ReleaseYear</td>
                    <td>@variable.Brand</td>
                    <td>@variable.AdditionalInformation</td>
                    <td>
                        <button  id="rateBut" @onclick="@(() => AddGPU(variable.Id))">
                            <i class="oi oi-plus" style="color: white"></i>
                        </button>
                    </td>

                </tr>
            }
            </tbody>
        </table>

        <table class="styledTable" id="x4">
            <thead>
            <tr class="head">
                <th>Name</th>
                <th>Release year</th>
                <th>Brand</th>
                <th>Additional information</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var variable in _RAMsToShow)
            {
                <tr id="@variable.Id">
                    <td>@variable.Name</td>
                    <td>@variable.ReleaseYear</td>
                    <td>@variable.Brand</td>
                    <td>@variable.AdditionalInformation</td>
                    <td>
                        <button  id="rateBut" @onclick="@(() => AddRAM(variable.Id))">
                            <i class="oi oi-plus" style="color: white"></i>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <table class="styledTable" id="x5">
            <thead>
            <tr class="head">
                <th>Name</th>
                <th>Release year</th>
                <th>Brand</th>
                <th>Additional information</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var variable in _suppliesToShow)
            {
                <tr id="@variable.Id">
                    <td>@variable.Name</td>
                    <td>@variable.ReleaseYear</td>
                    <td>@variable.Brand</td>
                    <td>@variable.AdditionalInformation</td>
                    <td>
                        <button  id="rateBut" @onclick="@(() => AddSupply(variable.Id))">
                            <i class="oi oi-plus" style="color: white"></i>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <table class="styledTable" id="x6">
            <thead>
            <tr class="head">
                <th>Name</th>
                <th>Release year</th>
                <th>Brand</th>
                <th>Additional information</th>
                <th>Add</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var variable in _storagesToShow)
            {
                <tr id="@variable.Id">
                    <td>@variable.Name</td>
                    <td>@variable.ReleaseYear</td>
                    <td>@variable.Brand</td>
                    <td>@variable.AdditionalInformation</td>
                    <td>
                        <button  id="rateBut" @onclick="@(() => AddStorage(variable.Id))">
                            <i class="oi oi-plus" style="color: white"></i>
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <button class="btn btn-primary myPageButtons" style="margin-right: 10px" @onclick="FinishBuild">Finish</button>
        <button class="btn btn-primary myPageButtons" @onclick="ResetBuild">Reset</button>
    </div>
</div>
</div>
<div class="container-fluid" id="beginner" style="display: none">
    @foreach (var variable in _preBuilds)
    {
        <div class="row">
            <div class="col-12">
                <label><b>@variable.Name</b></label>
                <button  id="rateBut" @onclick="@(() => AddPreBuild(variable))">
                                            <i class="oi oi-plus" style="color: white"></i>
                                        </button>
                <br>
                <table class="table styledTable">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>Name</th>
                        <th>Release Year</th>
                        <th>Aditional Information</th>
                    </tr>
                    </thead>
            
                    <tbody>
            
                    @for (int i = 0; i < variable.ComponentList.Count; i++)
                    {
                        <tr>
                            <td>@variable.ComponentList[i].Type</td>
                            <td>@variable.ComponentList[i].Brand</td>
                            <td>@variable.ComponentList[i].Name</td>
                            <td>@variable.ComponentList[i].ReleaseYear</td>
                            <td>@variable.ComponentList[i].AdditionalInformation</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>
<div class="container-fluid" id="buildTable">
        <div class="row">
            <div class="col-lg-12">
                <p>Your build</p>
                <input type="text" placeholder="Name the build..." @bind-value="_name"><br><br>
                <table class="table styledTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Release year</th>
                        <th>Brand</th>
                        <th>Additional information</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var variable in _myBuild)
                    {
                        <tr>
                            <td>@variable.Name</td>
                            <td>@variable.ReleaseYear</td>
                            <td>@variable.Brand</td>
                            <td>@variable.AdditionalInformation</td>

                        </tr>
                    }
                    </tbody>
                </table>
                <button class="myPageButtons" @onclick="createBuild">Save build</button>
                <button class="myPageButtons" @onclick="ResetBuild">Reset build</button>


            </div>
        </div>
    </div>
@code {
    private IList<Component> _components = new List<Component>();
    private IList<Component> _myBuild = new List<Component>();
    private IList<Component> _motherBoards = new List<Component>();
    private IList<Component> _GPUs = new List<Component>();
    private IList<Component> _CPUs = new List<Component>();
    private IList<Component> _RAMs = new List<Component>();
    private IList<Component> _supplies = new List<Component>();
    private IList<Component> _storages = new List<Component>();
    private IList<Component> _motherBoardsToShow = new List<Component>();
    private IList<Component> _GPUsToShow = new List<Component>();
    private IList<Component> _CPUsToShow = new List<Component>();
    private IList<Component> _RAMsToShow = new List<Component>();
    private IList<Component> _suppliesToShow = new List<Component>();
    private IList<Component> _storagesToShow = new List<Component>();
    private IList<Build> _preBuilds = new List<Build>();
    private bool _sort=true;
    private string _linkToTable1;
    private string _linkToTable2;
    private string _linkToTable3;
    private string _linkToTable4;
    private string _linkToTable5;
    private string _linkToTable6;
    private string _defaultLink;
    private bool _mB = false;
    private bool _gpuB = false;
    private bool _cpuB = false;
    private bool _ramB = false;
    private bool _storageB = false;
    private bool _supplyB = false;
    public Component _motherboard;
    public Component _gpu;
    public Component _cpu;
    public Component _ram;
    public Component _powerSupply;
    public Component _storage;
    private string _name;
    private Account _account = new Account();

    protected override async Task OnInitializedAsync()
    {
        _account = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).CachedUser;
        _linkToTable1 = $"CreateBuild#x1";
        _linkToTable2 = $"CreateBuild#x2";
        _linkToTable3 = $"CreateBuild#x3";
        _linkToTable4 = $"CreateBuild#x4";
        _linkToTable5 = $"CreateBuild#x5";
        _linkToTable6 = $"CreateBuild#x6";
        _defaultLink = $"CreateBuild";
        _components = await ComponentService.GetAllComponentsAsync();
        Account _preAccount = await AccountService.GetUserByUsername("ADMIN");
        int preId = _preAccount.UserId;
        _preBuilds = await BuildService.GetAllBuildsAsync(preId);
        // _preBuilds = await BuildService.GetAllBuildsAsync(45); //TODO don't forget to check what is the actual admin id

        for (int i = 0; i < _components.Count; i++)
        {
            switch (_components[i].Type)
            {
                case "GPU":
                    _GPUs.Add(_components[i]);
                    break;
                case "Motherboard":
                    _motherBoards.Add(_components[i]);
                    break;
                case "CPU":
                    _CPUs.Add(_components[i]);
                    break;
                case "RAM":
                    _RAMs.Add(_components[i]);
                    break;
                case "Power supply":
                    _supplies.Add(_components[i]);
                    break;
                case "Storage":
                    _storages.Add(_components[i]);
                    break;
            }
        }
        _GPUsToShow = _GPUs;
        _CPUsToShow = _CPUs;
        _motherBoardsToShow = _motherBoards;
        _RAMsToShow = _RAMs;
        _suppliesToShow = _supplies;
        _storagesToShow = _storages;
    }

    private async Task AddPreBuild(Build build)
    {
        Build newBuild = new Build(build.ComponentList, _account.UserId, build.Name);
        await BuildService.CreateBuild(newBuild);
    }
    private async Task createBuild()
    {
        Build newBuild = new Build(_myBuild, _account.UserId, _name);
        await BuildService.CreateBuild(newBuild);
        NavigationManager.NavigateTo("/MyBuilds");
    }

    private async Task AddMotherboard(int id)
    {
        foreach (var VARIABLE in _motherBoardsToShow)
        {
            if (VARIABLE.Id == id)
            {
                if (!_mB)
                {
                    _motherboard = VARIABLE;
                    _myBuild.Add(_motherboard);
                    await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                }

                if (_mB)
                {
                    _myBuild.Remove(_motherboard);
                    _motherboard = VARIABLE;
                    _myBuild.Add(_motherboard);
                   await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                }

                Sort(VARIABLE);
                _mB = true;
                return;
            }
        }
    }

    private async Task AddCPU(int id)
    {
        if (_motherboard != null)
        {
            foreach (var VARIABLE in _CPUsToShow)
            {
                if (VARIABLE.Id == id)
                {
                    if (!_cpuB)
                    {
                        _cpu = VARIABLE;
                        _myBuild.Add(_cpu);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }
                    if (_cpuB)
                    {
                        _myBuild.Remove(_cpu);
                        _cpu = VARIABLE;
                        _myBuild.Add(_cpu);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    Sort(VARIABLE);
                    _cpuB = true;
                }
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("sendMotherboardAlert");
        }
    }

    private async Task AddGPU(int id)
    {
        if (_motherboard != null)
        {
            foreach (var VARIABLE in _GPUsToShow)
            {
                if (VARIABLE.Id == id)
                {
                    if (!_gpuB)
                    {
                        _gpu = VARIABLE;
                        _myBuild.Add(_gpu);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }
                    if (_gpuB)
                    {
                        _myBuild.Remove(_gpu);
                        _gpu = VARIABLE;
                        _myBuild.Add(_gpu);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    Sort(VARIABLE);
                    _gpuB = true;
                    return;
                }
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("sendMotherboardAlert");
        }
    }

    private async Task AddRAM(int id)
    {
        if (_motherboard != null)
        {
            foreach (var VARIABLE in _RAMsToShow)
            {
                if (VARIABLE.Id == id)
                {
                    if (!_ramB)
                    {
                        _ram = VARIABLE;
                        _myBuild.Add(_ram);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }
                    if (_ramB)
                    {
                        _myBuild.Remove(_ram);
                        _ram = VARIABLE;
                        _myBuild.Add(_ram);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    Sort(VARIABLE);
                    _ramB = true;
                    return;
                }
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("sendMotherboardAlert");
        }
    }

    private async Task AddStorage(int id)
    {
        if (_motherboard != null)
        {
            foreach (var VARIABLE in _storagesToShow)
            {
                if (VARIABLE.Id == id)
                {
                    if (!_storageB)
                    {
                        _storage = VARIABLE;
                        _myBuild.Add(_storage);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    if (_storageB)
                    {
                        _myBuild.Remove(_storage);
                        _storage = VARIABLE;
                        _myBuild.Add(_storage);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    Sort(VARIABLE);
                    _storageB = true;
                    return;
                }
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("sendMotherboardAlert");
        }
    }

    private async Task AddSupply(int id)
    {
        if (_motherboard != null)
        {
            foreach (var VARIABLE in _suppliesToShow)
            {
                if (VARIABLE.Id == id)
                {
                    if (!_supplyB)
                    {
                        _powerSupply = VARIABLE;
                        _myBuild.Add(_powerSupply);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    if (_supplyB)
                    {
                        _myBuild.Remove(_powerSupply);
                        _powerSupply = VARIABLE;
                        _myBuild.Add(_powerSupply);
                        await JsRuntime.InvokeVoidAsync("chosenComponent", VARIABLE.Name);
                    }

                    Sort(VARIABLE);
                    _supplyB = true;
                    return;
                }
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("sendMotherboardAlert");
        }
    }


    private async Task FinishBuild()
    {
        if (_motherboard != null && _cpu != null && _gpu != null && _ram != null && _storage != null && _powerSupply != null)
        {
            int sum = 0;
            foreach (var VARIABLE in _myBuild)
            {
                sum += VARIABLE.EnergyConsumption;
            }
            if (sum > _powerSupply.EnergyConsumption)
                await JsRuntime.InvokeVoidAsync("sendAlert");
            await JsRuntime.InvokeVoidAsync("show");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("allComponents");
        }
    }

    private void Sort(Component component)
    {
        if (_sort)
        {
            _motherBoardsToShow = new List<Component>();
            _CPUsToShow = new List<Component>();
            _GPUsToShow = new List<Component>();
            _RAMsToShow = new List<Component>();
            _suppliesToShow = new List<Component>();
            _storagesToShow = new List<Component>();

            string typeOfComponent = component.SocketType;


            foreach (var motherBoard in _motherBoards.ToList())
            {
                if (motherBoard.SocketType.Contains(typeOfComponent))
                {
                    if (!_motherBoardsToShow.Contains(motherBoard))
                        _motherBoardsToShow.Add(motherBoard);
                }
            }

            foreach (var GPU in _GPUs.ToList())
            {
                foreach (var motherBoard in _motherBoardsToShow)
                {
                    if (motherBoard.SocketType.Contains(GPU.SocketType))
                    {
                        if (!_GPUsToShow.Contains(GPU))
                            _GPUsToShow.Add(GPU);
                    }
                }
            }

            foreach (var RAM in _RAMs.ToList())
            {
                foreach (var motherBoard in _motherBoardsToShow)
                {
                    if (motherBoard.SocketType.Contains(RAM.SocketType))
                    {
                        if (!_RAMsToShow.Contains(RAM))
                            _RAMsToShow.Add(RAM);
                    }
                }
            }

            foreach (var storage in _storages.ToList())
            {
                foreach (var motherBoard in _motherBoardsToShow)
                {
                    if (motherBoard.SocketType.Contains(storage.SocketType))
                    {
                        if (!_storagesToShow.Contains(storage))
                            _storagesToShow.Add(storage);
                    }
                }
            }

            foreach (var CPU in _CPUs.ToList())
            {
                foreach (var motherBoard in _motherBoardsToShow)
                {
                    if (motherBoard.SocketType.Contains(CPU.SocketType))
                    {
                        if (!_CPUsToShow.Contains(CPU))
                            _CPUsToShow.Add(CPU);
                    }
                }
            }
            foreach (var supply in _supplies.ToList())
            {
                foreach (var motherBoard in _motherBoardsToShow)
                {
                    if (motherBoard.SocketType.Contains(supply.SocketType))
                    {
                        if (!_suppliesToShow.Contains(supply))
                            _suppliesToShow.Add(supply);
                    }
                }
            }
            _sort = false;
        }
    }

    private void ResetBuild()
    {
        NavigationManager.NavigateTo("/");
        Thread.Sleep(1);
        NavigationManager.NavigateTo("/CreateBuild");
    }

    private async Task Advanced()
    {
        await JsRuntime.InvokeVoidAsync("advanced");
    }

    private async Task Beginner()
    {
        await JsRuntime.InvokeVoidAsync("beginner");
    }
    
}