@page "/Forum"
@inject IForumService ForumService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using LuckyBlazor.Model.Forum
@using LuckyBlazor.Data.ForumService
@using LuckyBlazor.Model
@using LuckyBlazor.Authentication
@using LuckyBlazor.Model.Forum.Report
<div class="container-fluid">
    <div class="row">
        <div class="col-11 d-flex justify-content-center">
            <input id="postContent" type="text" placeholder="Post something..." @bind-value="_postContent">
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
            <button class="buttons" @onclick="postOnForum">Post</button>
        </div>
    </div>
    @foreach (var variable in _posts)
    {
        <div class="row">
            <div class="col-2">
                <a href="" @onclick="@(() => GoToUserProfile(@variable.Username))">@@variable.Username</a>
            </div>
            @* <div class="col-8"></div> *@
            <div class="col-1">
                <button class="forumButtons" id="reportButton" @onclick="@(() => reportPost(variable.PostId))">
                    <i class="oi oi-warning" style="color: #555555"></i>
                </button>
                <button class="forumButtons" @onclick="@(() => savePost(variable))">
                    <i class="oi oi-data-transfer-download" style="color: #555555"></i>
                </button>
            </div>
        </div>
        <div class="row" id="comments">
            <div class="col-12">
                <p>@variable.Content</p>
            </div>
        </div>
        <div class="row" id="seeComments">
            <div class="col-4">
                <a href="" @onclick="@(() => GoToPostPage(variable.PostId))">See comments</a>
            </div>
        </div>
    }
</div>

@code {
    private IList<Post> _posts = new List<Post>();
    private string _postContent;
    private Account _account = new Account();

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _account = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).CachedUser;
        _posts = await ForumService.GetAllPosts();

        foreach (var VARIABLE in _posts)
        {
            Console.WriteLine(VARIABLE);
        }
        
    }

    private void GoToUserProfile(string username)
    {
        NavigationManager.NavigateTo("/UserProfile/" + username);
    }

    private void postOnForum()
    {
        Post post = new Post(_postContent, _account.UserId);
        ForumService.CreatePost(post);
        _postContent = "";
    }

    private void GoToPostPage(int postId)
    {
        Id = String.Concat(postId);
        NavigationManager.NavigateTo("/PostPage/" + Id);
    }

    private async Task reportPost(int postId)
    {
        Report newReport = new Report(_account.UserId, postId);
        await ForumService.ReportPost(newReport);
    }

    private async Task savePost(Post post)
    {
        await ForumService.SavePosts(post, _account.UserId);
    }

}