@page "/Forum"
@inject IForumService ForumService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@using LuckyBlazor.Model.Forum
@using LuckyBlazor.Data.ForumService
@using LuckyBlazor.Model
@using LuckyBlazor.Authentication
<h3>Forum</h3>
<input type="text" placeholder="Post something..." @bind-value="_postContent"><br><br>
<input type="submit" value="Submit" @onclick="postOnForum">
<table class="table">
    <tbody>
     @foreach (var variable in _posts)
     {
         <tr>
             <td><a href="" @onclick="@(() =>GoToUserProfile(@variable.Username))">@variable.Username</a></td>
             <td>@variable.Content</td>
             @for (int i = 0; i < variable.CommentList.Count;i++)
             {
                 <td>@variable.CommentList[i]</td>
             }
         </tr>
     }
    
    </tbody>
</table>
@code {
    private IList<Post> _posts = new List<Post>();
    private string _postContent;
    private Account _account = new Account();

    protected override async Task OnInitializedAsync()
    {
        _account = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).CachedUser;
        _posts = await ForumService.GetAllPosts();
    }

    private void GoToUserProfile(string username)
    {
        NavigationManager.NavigateTo("/UserProfile/" + username);
    }

    private void postOnForum()
    {
        Post post = new Post(_postContent, _account.UserId);
        ForumService.CreatePost(post);
    }
}