@page "/MyAccount"
@using LuckyBlazor.Model
<h3>My Account</h3>

<label> Name of the build </label>

<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Release Year</th>
        <th>Aditional Information</th>
    </tr>
    </thead>
    
    <tbody>
    @foreach (var VARIABLE in _builds)
    {
        for (int i = 0; i < VARIABLE.ComponentList.Size(); i++)
        {
            <tr>
                <td>@VARIABLE.ComponentList.GetComponent(i).Type</td>
                <td>@VARIABLE.ComponentList.GetComponent(i).Brand</td>
                <td>@VARIABLE.ComponentList.GetComponent(i).Name</td>
                <td>@VARIABLE.ComponentList.GetComponent(i).ReleaseYear</td>
                <td>@VARIABLE.ComponentList.GetComponent(i).AdditionalInformation</td>
            </tr>
        
        }
    }
    </tbody>
</table>



@code {
    private BuildList _buildList;
    private IList<Build> _builds;
    private int _userId;

    protected async override Task OnInitializedAsync()
    {
        _buildList = await BuildService.GetAllBuildsAsync(_userId);
        for (int i = 0; i < _buildList.Size(); i++)
        {
            _userId = _buildList.GetUserId();
            _builds.Add(_buildList.GetBuild(i));
        }
    }

}