@page "/ViewReports"
@using LuckyBlazor.Data.ForumService
@using LuckyBlazor.Model
@using LuckyBlazor.Model.Forum.Report
@using LuckyBlazor.Authentication
@inject IForumService ForumService
@inject IAccountService AccountService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="container-fluid">
    <div class="row" id="reports">
        <div class="col-12 justify-content-center align-items-center">
            <h3>Reports</h3>
        </div>
    </div>
    <table style="text-align: center">
        <tbody>
        @foreach (var variable in _reports)
        {
            <tr>
                <td>Who reported: <a href="" @onclick="@(() => GoToUserProfile(variable.Username))">@String.Concat("@")@variable.Username</a></td>
                <td>Go to report: <a href="" @onclick="@(() => GoToPostPage(@variable.PostId))">@variable.PostId</a></td>
                <td><button class="forumButtons" @onclick="@(() => DeleteReport(variable.Id))">
                                            <i class="oi oi-trash" style="color: #555555"></i>
                                        </button></td>
            </tr>
        }
        </tbody>
    </table>
    
</div>


@code {
    private IList<Report> _reports = new List<Report>();
    private Account _account;
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Username { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _account = ((CustomAuthenticationStateProvider) AuthenticationStateProvider).CachedUser;
        _reports = await ForumService.GetReports();
    }

    private void GoToUserProfile(string Username)
    {
        this.Username = Username;
        NavigationManager.NavigateTo("/UserProfile/" + this.Username);
    }

    
    private void GoToPostPage(int postId)
    {
        Id = String.Concat(postId);
        NavigationManager.NavigateTo("/PostPage/" + Id);
    }

    private async Task DeleteReport(int reportId)
    {
        await ForumService.DeleteReport(reportId);
        foreach (var VARIABLE in _reports)
        {
            if (VARIABLE.Id == reportId)
            {
                _reports.Remove(VARIABLE);
                break;
            }
        }
    }

}